extends layouts/main

block varibles
  -var metaDescription = 'Все для Вашего мероприятия, исполнители напрямую.'
  -var metaKeywords = 'аренда караоке в москве, аренда караоке оборудования, выездное караоке, диджей на свадьбу, ведущий и диджей на свадьбу недорого, ведущий и диджей недорого, ведущий свадьба, тамада на свадьбу, ведущий на корпоратив, ведущий недорого, диджей на юбилей в москве, диджей недорого,поющий ведущий, певец на свадьбу, певец на юбилей,'
  -var pageTitle = 'Аренда караоке, диджеи, ведущие'
  -var cssPath = '../scss/style.scss'
  -var jsPath = '../js/app.js'
  -var icon = '../img/ico.ico'

block content
  h1 Hello!