mixin jumping-buttons()
    .jumping-buttons
        input(type="checkbox" class="jumping-buttons__input" id="jumping-buttons__checkbox")
        label(for="jumping-buttons__checkbox" class="jumping-buttons__label")
            .jumping-buttons__message
            .jumping-buttons__close
        a(href="https://teleg.one/AES_Production" class="jumping-buttons__icon jumping-buttons__icon--telegram" target="blank")
            span.jumping-buttons__tooltip Telegram
        a(href="https://api.whatsapp.com/send?phone=79164942042" class="jumping-buttons__icon jumping-buttons__icon--whatsapp" target="blank")
            span.jumping-buttons__tooltip WhatsApp
        a(href="https://vk.me/https://vk.com/evgeniyalexandrov" class="jumping-buttons__icon jumping-buttons__icon--vk" target="blank")
            span.jumping-buttons__tooltip Vkontakte
        a(href="mailto:e.alexandrov68@gmail.com?subject=Заказать мероприятие" class="jumping-buttons__icon jumping-buttons__icon--mail")
            span.jumping-buttons__tooltip Mail
        a(href="tel:+79164942042" class="jumping-buttons__icon jumping-buttons__icon--phone")
            span.jumping-buttons__tooltip Phone